language: java
jdk:
- openjdk8

addons:
    apt:
        packages:
            - openjfx
    sonarcloud:
        organization: lorenzorossi02
        token:
            secure: travis encrypt c56aa64447d41281b089c13c1f2afc22fdf3b33f
script: 
    - ant build 
    - sonar-scanner