@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #fff;
}

.card-container {
	width: 1000px;
	max-width: 1400;
	overflow-x: scroll;
	display: flex;
	background-color: #FFFFFF;
	padding: 3rem;
	opacity: 0.93;
}

.card {
	min-width: 800px;
	height: 80px;
	max-height: 800px;
	min-height: 100px; border-radius : 16px;
	background-color: #17141d;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	transition: 0.2s;
	border-radius: 16px;
}

.date {
	color: #8a8a8a;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem 0 1rem;
}

.tags div {
	font-size: 9px;
	font-weight: 700;
	padding: 4px 10px;
	border: 3px solid #28242f;
	border-radius: 2rem;
}

.card .category-title {
	font-size: 14px;
	color: #fff;
	margin-bottom: 1rem;
}

.card .article-title {
	font-size: 20px;
	font-weight: 700;
}

.card .article-header {
	margin-bottom: auto;
}

.card .author {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: 75px 1fr;
}

.author .info .caption {
	color: #8a8a8a;
}

.card:not(:first-child) {
	margin-left: -130px;
}

.card:hover {
	transform: translateY(-1rem);
}

.card:hover ~.card {
	transform: translateX(130px);
}

.card-btn {
	display: block;
	width: 21rem;
	padding: 0.5rem;
	font-size: 1.5rem;
	height: 50px;
	color: #214a80;
	background-color: #d8e0fd;
	border: none;
	border-radius: 0.4rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.1rem;
	margin-left: -4rem;
}